<div class="container">
	<form action="alumno/new" method="POST" accept-charset="utf-8" class="form-control">
		<label>Clave de carrera</label>
		<input type="text" name="clave" class="form-control" required> 
		<label>Nombre de carrera</label>
		<input type="text" name="nombre" class="form-control" required>
		<label>alumno</label>
		<input type="text" name="collection" class="form-control" required>
		<br>
		<input type="submit" name="Enviar">
	</form>
</div>