<div class="container">
    <div class="row">
	    <h1>Clínica</h1>
        <p>Index en ejs de la aplicación, en la parte superior derecha podrás encontrar el link al CRUD de alumnos</p>
    </div>
</div>