<div class="container">
	<form action="alumno/new" method="POST" accept-charset="utf-8" class="form-control">
		<label>ID Asistencia/label>
		<input type="number" name="id_asistencia" class="form-control" required>
		<label>Fecha Horario</label>
		<input type="datetime" name="fecha_horario" class="form-control" required>
		<label>Motivo de la cita</label>
		<input type="text" name="motivo" class="form-control" required>
		<label>ID Historial Clínico</label>
		<input type="number" name="id_hc" class="form-control" required>
		<br>
		<input type="submit" name="Enviar">
	</form>
</div>