	<form action="/Alumno/update/<%=Alumno.id%>" method="POST" class="edit">
	<div class="form-group">
		<h2> editing a Alumno... </h2>
		<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Alumno.['id_matricula'],['cuatrimestre'],['grupo'],['nom_pila'],['APaterno'],['AMaterno'],['sexo'],['fecha_nacimiento'],['direccion'],['nombre_contacto'],['parentesco'],['antecedente'],['clave_carrera'] %>" name="['id_matricula'],['cuatrimestre'],['grupo'],['nom_pila'],['APaterno'],['AMaterno'],['sexo'],['fecha_nacimiento'],['direccion'],['nombre_contacto'],['parentesco'],['antecedente'],['clave_carrera']" type="text" class="form-control"/>
	</div>

		</div>
		<input type="submit" value="Update Alumno" class="btn btn-default"/>
		<a href="/Alumno/show/<%=Alumno.id %>" class="btn btn-danger">Cancel</a>
	</form>
	
	