<div class="container">
	<form action="/alumno/create" method="POST" accept-charset="utf-8" class="form-control">
		<label>Matricula</label>
		<input type="text" name="matricula" class="form-control" required> 
		<label>Nombre</label>
		<input type="text" name="nombre" class="form-control" required>
		<label>Apellido Paterno</label>
		<input type="text" name="a_paterno" class="form-control" required>
		<label>Apellido Materno</label>
		<input type="text" name="a_materno" class="form-control" required>
		<label>Género</label>
		<input type="text" name="genero" class="form-control" required>
		<label>Fecha de Nacimiento</label>
		<input type="date" name="fecha_nacimiento" class="form-control" required>
		<label>Edad</label>
		<input type="number" name="edad" class="form-control" required>
		<label>Dirección</label>
		<input type="text" name="direccion" class="form-control" required>
		<label>Tutor</label>
		<input type="text" name="tutor_familiar" class="form-control" required>
		<label>Cuatrimestre</label>
		<input type="text" name="cuatrimestre" class="form-control" required>
		<label>Id Carrera</label>
		<input type="text" name="carrera" class="form-control" required>
		<label>Numero de Teléfono</label>
		<input type="text" name="telefono" class="form-control" required>
		<br>
		<input type="submit" name="Enviar">
	</form>
</div>