<div class="container">
	<form action="/alumno/new" method="POST" accept-charset="utf-8" class="form-control">
		<label>ID Asistencia de alumno</label>
		<input type="number" name="id_asis_alumn" class="form-control" required>
		<label>Matricula</label>
		<input type="text" name="matricula" class="form-control" required>
		<label>ID de asistencia</label>
		<input type="number" name="id_asistencias" class="form-control" required>
		<br>
		<input type="submit" name="Enviar">
	</form>
</div>