<div class="container">
	<form action="/alumno/new" method="POST" accept-charset="utf-8" class="form-control">
		<label>ID Genera tratamiento</label>
		<input type="number" name="id_gen_tratam" class="form-control" required> 
		<label>ID Inventario</label>
		<input type="number" name="id_inventario" class="form-control" required>
		<label>ID Tratamiento</label>
		<input type="number" name="id_t" class="form-control" required>
		<label>Dosis</label>
		<input type="number" name="dosis" class="form-control" required>
		<br>
		<input type="submit" name="Enviar">
	</form>
</div>